.card {
    background-color: transparent;
    perspective: 1000px;
    width: 90px;
    aspect-ratio: 209/303;
    transition: opacity 0.5s ease-in;
}

.card.hide {
    pointer-events: none;
    opacity: 0;
}

.card img {
    width: 90px;
    pointer-events: none;
}

.card.selected, .card:active {
    box-shadow: 0 0 5px 5px goldenrod;
}

.card-inner {
    pointer-events: none;
    position:relative;
    width: 100%;
    height: 100%;
    transition: transform 0.25s ease-in;
    transform-style: preserve-3d;
}

.card.turned .card-inner{
    transform: rotateY(180deg);
}

.card-front, .card-back {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back {
    background-color: brown;
    color: white;
}

.card-front {
    background-color: azure;
    color: black;
    transform: rotateY(180deg);
}